<!DOCTYPE html>
<html lang="en" style="
  padding: 0px;
  overflow-x: hidden;
  /* border: 2px solid yellow; */
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #ffe0ec, white);
  font-family: 'Poppins';
">
  <head>
    <title>Inquiry</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
      type="text/css"
    />
    <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Poppins');

    html {
      font-family: 'Poppins';
    }
    </style>
  </head>

  <body style="
    position: absolute;
    //border: 2px solid blue;
    width: 95%;
    height: 95%;
    font-family: 'Poppins';
  ">
    <main style="
      /* align-items: center; */
      position: relative;
      border: 2px solid blue;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 95%;
      height: 100%;
      padding: 1% 2.5%;
    ">
      <header class="logo" style="
        position: relative;
        border: 2px solid blue;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 95%;
        height: 10%;
        margin-bottom: 0px;
      ">
        <img 
            src="https://drive.google.com/uc?export=download&id=1ZfcsAOOA2vhkmgIVekY8vetMv__2TN9o"
            alt="test"
            style="
              position: relative;
              border: 2px solid blue;
              width: 30%;
              height: 100%;
            "
        />
      </header>
      <div class="brief" style="
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        border: 2px solid yellow;
        top: 5%;
        font-size: 14px;
      ">
        <span class="orderId" style="
          border: 2px solid yellow;
          color: rgb(231, 97, 149);
          position: relative;
          display: flex;
          flex-direction: column;
        ">
          <span><strong> Inquiry ID: </strong></span> 
          <span>{{id}} </span>
        </span>
      </div>
      <div class="message" style="
        border: 2px solid blue;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5%;
        top: 10%;
        font-size: 14px;
        line-height: 22px;
      ">
        <span id="body" style="
          border: 2px solid blue;
          position: relative;
          display: flex;
          flex-direction: column;
        ">
        Dear {{name}},
        <br />
        <br />
        Your message has been successfully sent. 
        <br />
        Rest assured that our team is diligently reviewing your request, and we will get back to you shortly with the assistance you need. 
        <br />
        If you have any additional information inquiry, please feel free to share them with us. 
        <br />
        <br />
        Best regards, 
        <br />
        IB Cakes & Catering Team
        </span>
      </div>
    </main>
    <script>
      
    </script>
  </body>
</html>
